lib/
Commons/libcfg/libcfg.*
Commons/libcfg/main.*o
Commons/libconnection/libconn.*
Commons/libconnection/main.*o
Commons/libshm/libshm.*
Commons/libshm/main.*o
Commons/libstrutil/libstrutil.*
Commons/libstrutil/main.*o
RptMngr/GOTRPTMNG.*
RptMngr/GOTRptMng*
RptMngr/hndlcli.*o
RptMngr/main.*o
RptMngr/sockop.*o
Spooler/GOTSPOOLER.*
Spooler/GOTSpooler.*
Spooler/init.*o
Spooler/lputils.*o
Spooler/main.*o
Spooler/papermount.*o
prdenv/lock
